*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(0, 98, 255);
    padding: 10%;
}
.product-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    gap: 50px;
    .product{
        background: #fff;
        padding: 5px;
        border-radius: 5px;
        transition: transform 0.2s linear 0.1s;
        &:hover{
            transform: scale(1.2);
        }
        &:hover > .hearticon:before{
            color: orange!important;
        }
        img{
            width: 100%;
        }
        .title{
            font-weight: bold;
            font-family: sans-serif;
            margin-left: 10px;
        }
        .desc{
            color: rgb(0, 0, 0);
            font-family: sans-serif;
        }
        i{
            float: right;

        }
    }
}
// This Query ( Media Screen....) Is Depends On Content You Have Change Px According To You

@media screen and (max-width: 1050px){
    .product-grid{
        grid-template-columns: repeat(3,1fr);
    }
}
@media screen and (max-width: 786px){
    .product-grid{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width: 498px){
    .product-grid{
        grid-template-columns: 1fr;
    }
}