/* Official Work Of Labham */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width:100%;
    height: 100vh;
    background: linear-gradient(#ff4757,#1e90ff);
    overflow: hidden;
}
.box{
    margin-top: 150px;
    margin: 150px auto;
    width: 40%;
    min-width: 200px;
    background: linear-gradient(to right,#3498db,#27ae60);
    height: 40%;
    padding: 10px;
}
.global-style{
    border: 0;
    background: transparent;
    height: 20%;
    width: 100%;
    color: #fff;
    font-size: 20px;
    padding: 5px;
    transition: border 0.3s;
    margin: 5px 0;
}
.global-style::placeholder{
    color: #fff;
    font-size: 20px;
}
.global-style:focus{
    outline: none;
    border-bottom: 2px solid #fff;
}
#contactbtn{
    display: none;
}
label[for=contactbtn]{
    margin-right: 30px;
    float: right;
}
label[for=contactbtn] i{
    font-size: 30px;
    color: white;
    cursor: pointer;
    background: linear-gradient(#00d8d6,#575fcf);
    padding: 10px;
    border-radius: 50%;
}